<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>ar.edu.unicen.exa.galvarez.patogis.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/aplicacionweb/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>especiesServlet</servlet-name>
    <servlet-class>ar.edu.unicen.exa.galvarez.patogis.server.EspeciesServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>especiesServlet</servlet-name>
    <url-pattern>/aplicacionweb/especies</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>tipoMatrizProductivaServlet</servlet-name>
    <servlet-class>ar.edu.unicen.exa.galvarez.patogis.server.TipoMatrizProductivaServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>tipoMatrizProductivaServlet</servlet-name>
    <url-pattern>/aplicacionweb/tipoMatrizProductiva</url-pattern>
  </servlet-mapping>  

  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>AplicacionWeb.html</welcome-file>
  </welcome-file-list>

</web-app>
