<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	<properties resource="mybatis_config.properties" /> -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver"/>
				<property name="url" value="jdbc:postgresql:patogis"/>
				<property name="username" value="postgres"/>
				<property name="password" value="atlas"/>
			</dataSource>
		</environment>
	</environments>
    <mappers>
      <!-- XML mapper files should be listed here -->
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/CampanaMapper.xml" />
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/EspecieMapper.xml" />
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/ObservacionClimaMapper.xml" />
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/ObservacionEspecieMapper.xml" />
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/ObservacionFotoMapper.xml" />
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/ObservacionMapper.xml" />
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/ObservacionMatrizProductivaMapper.xml" />
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/ParUsuariosMapper.xml" />
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/TipoMatrizProductivaMapper.xml" />
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/UbicacionMapper.xml" />
      <mapper resource="ar/edu/unicen/exa/galvarez/patogis/servidor/mapeos/UsuarioMapper.xml" />

    </mappers>
	
</configuration>